extends _layout

block title
  | Problem

block english
  | We are experiencing server problems right now.<br />
  | We apologize for any inconvenience caused.

block german
  | Wir haben zur Zeit technische Probleme.<br />
  | Bitte entschuldigen Sie eventuelle Unannehmlichkeiten.

